/* box-products */
.box-products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}
.cadr-product{
    margin: 1rem;
}
/* ----------------responsive-----------------*/
@media only screen and (max-width: 600px) {
    .cadr-product{
        width: 412px;
        height: 575px;
        margin: .5rem auto;
    }
}
@media only screen and (max-width: 400px) {
    .cadr-product{
        max-width: 100%;
        height: 460px;
    }
}
